body {
    margin: 0;
}

body, input {
    font-size: calc(1em + 1vh);
}

/* Stock info */
.stock-info .stock-name {
    width: 40vw;
}

.stock-info .unit-price {
    width: 10vw;
}

.stock-info .quantity {
    width: 8vw;
}

.summary {
    margin: 5% auto;
    font-size: 1.3em;
    font-weight: bold;
}
