body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: calc(1em + 1vh);
}

input,
td {
    padding: 0;
}

/* Stocks */
.stocks input {
    font-size: calc(1em + 1vh);
}

.stocks .add-stock {
    vertical-align: bottom;
}

.add-stock-btn,
.remove-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 1.4em;
}

.add-stock-btn {
    color: rgb(0, 192, 0);
}

.remove-btn {
    color: rgb(255, 63, 63);
}

.add-stock-btn:hover,
.remove-btn:hover {
    cursor: pointer;
}

/* Stock info */

.stocks {
    margin: 5vh 0 0 4vw;
    text-align: right;
}

.stocks td {
    border: lightgrey 1px solid;
}

.stocks tr:first-child {
    font-weight: bold;
}

.stocks .name-column {
    text-align: left;
}

.stock-info .stock-name {
    width: 40vw;
    text-align: left;
}

.stock-info .unit-price {
    width: 10vw;
    text-align: right;
}

.stock-info .quantity {
    width: 8vw;
    text-align: right;
}

/* Summary */

.summary {
    margin: 20% auto auto;
    font-size: 1.2em;
    font-weight: bold;
}

.summary tr > td {
    text-align: right;
}

.summary td:first-child {
    vertical-align: top;
}

.total td {
    padding-top: 6%;
}

.price-value {
    font-weight: normal;
}

.vat-value {
    font-weight: normal;
    color: red;
}

/* Promocode */
.promocode-field {
    font-size: 0.7em;
}

.promocode td:nth-child(2) {
    text-align: left;
}

.promocode-submit {
    font-size: 0.6em;
}

.promocode-discount-info {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 0.7em;
    margin: 4% 0 0;
    color: green;
}