body {
    margin: 0;
    font-size: calc(1em + 1vh);
}

/* Stocks */
.stocks input {
    font-size: calc(1em + 1vh);
}

.stocks .add-stock {
    vertical-align: bottom;
}

.add-stock-btn,
.remove-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 1.4em;
}

.add-stock-btn {
    color: rgb(0, 192, 0);
}

.remove-btn {
    color: rgb(255, 63, 63);
}

.add-stock-btn:hover,
.remove-btn:hover {
    cursor: pointer;
}

/* Stock info */
.stock-info .stock-name {
    width: 40vw;
}

.stock-info .unit-price {
    width: 10vw;
}

.stock-info .quantity {
    width: 8vw;
}

.summary {
    margin: 5% auto;
    font-size: 1.3em;
    font-weight: bold;
    vertical-align: top;
}

.summary td:first-child {
    vertical-align: top;
}

/* Promocode */
.promocode-field {
    font-size: .7em;
}

.promocode-submit {
    font-size: .6em;
}

.promocode-discount-info {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: .7em;
    margin: 4% 0 0;
    color: green;
}